:root {
    --Nero: #212121;
    --DarkSalmon: #f49076;
    --white: #ffffff;
    --TrollyGray: #808080;
    --Gainsboro: #e1e1e1;
    --RebeccaPurple: #5821a5;
    --PalePurple: #9d5fd4;
    --SlatePurple: #9157e2;
    --Iris: #8547da;
    --Rose: #e72f89;
    --DarkRose: #b6075c;
    --Lavender: #f0f0f1;
}

.background {
    background: linear-gradient(135deg, var(--PalePurple) 0%, var(--DarkSalmon) 100%) no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-box {
    font-family: 'Lato';
    width: 320px;
}

.calc-display {
    min-height: 85px;
    background-color: var(--Nero);
    padding: 20px;
}

#calc-input {
    color: var(--DarkSalmon);
    text-align: right;
    min-height: 20px;
    padding-top: 5px;
    word-break: break-all;
}

#calc-result {
    color: var(--white);
    text-align: right;
    font-size: 42px;
    padding-top: 10px;
    word-break: break-all;
}

.calc-actions {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    user-select: none;
}

.calc-actions button {
    height: 80px;
    width: 25%;
    background: linear-gradient(135deg, var(--white) 0%, var(--Lavender) 100%) no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border: none !important;
    outline:none !important;
    cursor: pointer;
    color: var(--TrollyGray);
}

.calc-actions button:hover {
    background: var(--Gainsboro);
}

.calc-actions button:nth-child(4n+0) {
    background: linear-gradient(135deg, var(--SlatePurple) 0%, var(--Iris) 100%);
    color: var(--white);
}

.calc-actions button:nth-child(4n+0):hover {
    background: var(--RebeccaPurple);
}

.calc-actions button:last-child {
    background: var(--Rose) !important;
    width: 50% !important;
    color: var(--white);
}

.calc-actions button:last-child:hover {
    background: var(--DarkRose) !important;
}

.font40 {
    font-size: 40px !important;
}
